# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django settings
.env
db.sqlite3
media/
staticfiles/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
